* {
    margin: 0;
    padding: 0;
}

:root {
    --headercolor: #171a21;
    --backgroundcolor: #1B2838;
    --kortingdoorstreept: #112375;
    --kortingfontoud: #3b5677;
    --lettercolor: white;
    --gamecolor: linear-gradient(145deg, rgba(44, 46, 133, 1) 0%, rgba(0, 114, 255, 1) 100%);
    --korting: linear-gradient(45deg, rgb(26, 247, 44) 0%, rgb(0, 141, 19) 100%);
    --kortingfont: rgb(0, 65, 0);

    --categorieblauw: linear-gradient(rgba(255, 255, 255, 0), rgba(4, 0, 255, 0.781));
    --categorierood: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.781));
    --categoriegroen: linear-gradient(rgba(255, 255, 255, 0), rgba(43, 255, 0, 0.781));
    --categorielila: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 255, 255, 0.781));
    --categoriepaars: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 0, 255, 0.781));
    --categoriegeel: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 187, 0, 0.781));
}

body {
    color: var(--lettercolor);
    font-family: arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--headercolor);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}




/* ************************* */
/* NAV */
/* ************************* */
nav section img {
    margin: 1em;
    width: 2em;
    display: block;
}


nav button img {
    margin: 1em;
    width: 2em;
}

nav ul {
    background: var(--gamecolor);
}

nav li {
    padding: 0.8em 0;
    margin: 0 0 0 15px;
}

nav li:nth-of-type(6) {
    padding: 0;
}

form {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 1vh;
    border-radius: 100px;
    padding: 1em;
}

button {
    background: none;
}



main {
    background-color: var(--backgroundcolor);
}


h1 {
    margin: 6em 15px 15px 15px;
    width: auto;
    font-size: 1.6em;
}

h2 {
    font-size: 2em;
}



ul {
    list-style-type: none;
}

article {
    margin: 15px;
}

article>h2 {
    padding: 30px 0 0.5em 0;
}

article:nth-of-type(2) li {
    border-radius: 1em;
}

article:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(13em, 100%), 1fr));
    gap: 1em;
}

article li {
    /* background: var(--gamecolor); */
}

article a {
    display: flex;
    flex-direction: column;
}

article li h3 {
    padding: 0.5em;
    font-size: 1em;
}

article li p {
    padding: 0.2em 1em 1em 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--lettercolor);
}

article:nth-of-type(2) li {
    position: relative;
}

article:nth-of-type(2) h3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    color: white;
    text-align: center;

    margin: 0;
    padding: 100px .5em 1.5em;
}

/* ************ */
/* AVONTUUR */
/* ************ */
article:nth-of-type(2) li:nth-of-type(1) h3 {
    background: var(--categorieblauw);
}

/* ************ */
/* VIRTUAL REALITY */
/* ************ */
article:nth-of-type(2) li:nth-of-type(2) h3 {
    background: var(--categorierood);
}

/* ************ */
/* CO-OP */
/* ************ */
article:nth-of-type(2) li:nth-of-type(3) h3 {
    background: var(--categoriegroen);
}

/* ************ */
/* ROLLENSPEL */
/* ************ */
article:nth-of-type(2) li:nth-of-type(4) h3 {
    background: var(--categorielila);
}

/* ************ */
/* OPEN WERELD */
/* ************ */
article:nth-of-type(2) li:nth-of-type(5) h3 {
    background: var(--categoriepaars);
}

/* ************ */
/* STRATEGIE */
/* ************ */
article:nth-of-type(2) li:nth-of-type(6) h3 {
    background: var(--categoriegeel);
}

/* ************ */
/* HORROR */
/* ************ */
article:nth-of-type(2) li:nth-of-type(7) h3 {
    background: var(--categorierood);
}

/* ************ */
/* VERHAALLIJN */
/* ************ */
article:nth-of-type(2) li:nth-of-type(8) h3 {
    background: var(--categorieblauw);
}

/* ************ */
/* PUZZEL */
/* ************ */
article:nth-of-type(2) li:nth-of-type(9) h3 {
    background: var(--categoriegroen);
}

/* ************ */
/* GRATIS TE SPELEN */
/* ************ */
article:nth-of-type(2) li:nth-of-type(10) h3 {
    background: var(--categorielila);
}

/* ************ */
/* SIMULATIE */
/* ************ */
article:nth-of-type(2) li:nth-of-type(11) h3 {
    background: var(--categorierood);
}

/* ************ */
/* SPORT */
/* ************ */
article:nth-of-type(2) li:nth-of-type(12) h3 {
    background: var(--categorieblauw);
}

/* ************ */
/* RACEN */
/* ************ */
article:nth-of-type(2) li:nth-of-type(13) h3 {
    background: var(--categoriegeel);
}

/* ************ */
/* SURVIVAL */
/* ************ */
article:nth-of-type(2) li:nth-of-type(14) h3 {
    background: var(--categorielila);
}

/* ************ */
/* ACTIE */
/* ************ */
article:nth-of-type(2) li:nth-of-type(15) h3 {
    background: var(--categoriepaars);
}



article:nth-of-type(4) p:nth-of-type(2) {
    width: fit-content;
    text-align: center;
    background: var(--korting);
    color: var(--kortingfont);
    font-weight: bolder;
}

article:nth-of-type(4) ul li p:nth-of-type(3) span {
    width: fit-content;
    text-align: center;
    text-decoration: line-through;
    padding: 1em;
    background: var(--kortingdoorstreept);
    color: var(--kortingfontoud);
}